@import url("pygment.css");

body {
  background: #fff;
  color: #333;
  font: 18px "Open Sans", sans-serif;
  line-height: 1.5em;
  margin: 60px 18px;
}

#wrap {
  max-width: 42em;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: 1.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

strong {
  color: #555;
  font-family: , "Open Sans", sans-serif;
  font-weight: bold;
}

tt, pre, code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  font-family: "Inconsolata", monospace;
  line-height: 1.2em;
}

pre {
  overflow: auto;
  padding: 10px;
}

code {
  font-size: 1em;
}

header {
  padding-bottom: 20px;
}

header a {
  border-bottom: none;
}

img {
  border: none;
}

blockquote {
  border-left: 5px solid #ddd;
  margin: 0px;
  padding: 0 12px;
}

p {
  line-height: 1.5em;
  margin: 1.5em auto;
  text-indent: 0px;
}

p.caption {
  font-size: 0.9em;
  margin-top: 0;
}

a {
  color: #36B;
}
a:hover {
  color: #07B;
  text-decoration: none;
}

ul, ol {
  padding: .5em 0em 1em 3.2em;
}

ul li, ol li {
  line-height: 1.5em;
  padding: 6px 0 0 0;
}

table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
  margin: 10px;
}

table tr {
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color:#f8f8f8;
}

#banner {
  text-align: center;
  margin: 0;
  padding: 0;
}

#banner a {
  font-size: 2em;
}

#menu {
  border-bottom: 10px solid #eee;
  font-size: 0.9em;
  letter-spacing: 4px;
  text-align: center;
}

#menu li {
  display: inline-block;
}

#banner a,
#menu a {
  color: #333;
  text-decoration: none;
}

#banner a:hover,
#menu a:hover {
  color: #07B;
  border-bottom: 5px solid #07B;
}

.active a {
  border-bottom: 5px solid #333;
}

#post-list {
  list-style-type: none;
}

.hentry {
  border-bottom: 2px dotted #ccc;
}

.post-info {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.entry-title a,
.post-info a {
  color: #333;
}

.entry-title a:hover,
.post-info a:hover {
  color: #07B;
}

.top-entry {
  border-top: 0;
  margin-top: 0;
}

.post-tags,
.post-tags li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#archives dt {
  color: #999;
  float: left;
  padding-right: 1em;
  text-align: right;
  width: 8em;
}


.paginator {
  text-align: center;
}

.hidden-text {
  visibility: hidden;
}

#contentinfo {
  font-size: 0.8em;
  margin-top: 60px;
  text-align: center;
}

#contentinfo p {
  border: 0;
  margin: 0;
}

.count-list {
  list-style-type: none;
}

.count {
  color: #999;
  float: left;
  padding-right: 1em;
  text-align: right;
  width: 6em;
}
