/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Use @import for YUI compressor css minifier on publish
 */
@import url('normalize.css');
@import url('fontello.css');
@import url('pygment.css');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    color: #000;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Contents:
 *
 * 1. General
 * 2. Base layout (base)
 *      2.1. Base header (base)
 *      2.2. Base content (base)
 *      2.3. Base footer (base)
 * 3. Article summaries (index)
 *      3.1. Article info (article-footer)
 *      3.2. Next/prev pages (pagination)
 * 4. Helpers
 */


/* ===========
 * 1. General
 * ===========
 */

html,
button,
input,
select,
textarea {
    color: #333;
}

html {
    background: #fff;
    font: 1em/1.8 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #484848;
    font-weight: 300;
    margin-top: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

a {
    color: #00539f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #484848;
}

code,
kbd,
pre,
samp {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Source Code Pro', monospace, serif;
}

pre {
    font-size: 0.8em;
    line-height: normal;
    overflow: auto;
    padding: 10px;
    white-space: pre;
}

code {
    font-size: 0.9em;
    padding: 3px;
}

blockquote {
    border-left: 5px solid #ddd;
    font-style: italic;
    margin-left: 0;
    padding-left: 35px;
}

td,
th {
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

address {
    font-style: normal;
}

.wrap {
    margin: 0 auto;
    max-width: 45em;
    padding: 0 32px;
}

/* =====================
 * 2. Base layout (base)
 * =====================
 */

    /* ====================
     * 2.1. Masthead (base)
     * ====================
     */

    .base-header {
        background: #d4dde4;
    }

    /*
     * Justified header elements:
     * http://tympanus.net/codrops/2013/07/14/justified-and-vertically-centered-header-elements/
     */

    .site-nav {
        margin-bottom: -1.75em;
        text-align: justify;
    }

    .site-nav::after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    .menu {
        line-height: 2.5;
    }

    .site-title {
        color: #333;
        font-weight: bold;
        padding: 0.6em;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-link {
        color: #333;
        margin-left: -0.25em; /* Adjust for space created by display: inline-block */
        padding: 0.6em;
        text-decoration: none;
    }

    .menu-link:hover,
    .site-title:hover,
    .active {
        background: #eaeff2;
        color: #00539f;
        text-decoration: none;
    }

    .main-heading {
        background: #eaeff2;
        height: 20em;
    }

    .main-heading-txt {
        margin: 0;
        text-align: center;
    }

    /*
     * Vertical align main heading text
     * http://css-tricks.com/centering-in-the-unknown/
     * http://thephuse.com/development/the-best-way-to-vertically-align-in-css/
     */

    .mid-wrap {
        height: 100%;
    }

    .mid-container {
        width: 100%;
    }

    .mid-wrap:before,
    .mid-container {
        display: inline-block;
        vertical-align: middle;
    }

    .mid-wrap:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-left: -0.32em; /* Adjust for space created by display: inline-block */
        vertical-align: middle;
    }

    /* ========================
     * 2.2. Base content (base)
     * ========================
     */

    .content {
        background: #f8f8f8;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 2em 0;
    }

    /* =======================
     * 2.3. Base footer (base)
     * =======================
     */

    .base-footer {
        color: #666;
        padding: 2em 0;
        text-align: center;
    }

    .base-footer-text {
        font-size: 0.8em;
    }

    .base-footer-list {
        display: inline-block;
        list-style-type: none;
        margin: 0 1em 2em 1em;
        padding: 0;
        text-align: left;
    }

    .base-footer-link {
        color: #666;
    }

    .base-footer-link:hover {
        color: #00539f;
        text-decoration: none;
    }


/* =========================
 * 3. Blog summaries (index)
 * =========================
 */

.entry {
    color: #333;
}

.top-entry {
    margin-top: 0;
}

    /* ====================================
     * 3.1. Article info (article-footer)
     * ====================================
     */

    .article-footer {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .article-footer-text {
        font-size: 0.8em;
        margin: 0;
        padding: 0;
    }

    /* ==================================
     * 3.2. Next/prev pages (pagination)
     * ==================================
     */

    .paginator {
        margin-top: 3em;
    }

    .paginator-symbol {
        color: #484848;
    }

    .paginator-link {
        font-size: 0.8em;
        margin-right: 2em;
        text-decoration: none;
        text-transform: uppercase;
    }

/* ==========
 * 4. Helpers
 * ==========
 */

/*
 * Display non important text in the content area in light gray (icons, numbers)
 */

.light-color {
    color: #999;
}

/*
 * Legends for bar charts created with chart.js
 */

.legend {
    margin: 0;
    padding: 0;
    text-align: center;
}

.legend-red,
.legend-green,
.legend-blue {
    font-size: 0.7em;
    margin: 0 2em 0 0;
    padding: 0.25em 1em;
}

.legend-red {
    background: #e2afaf;
    border-left: 2em solid #cc6666;
}

.legend-green {
    background: #d7dbb0;
    border-left: 2em solid #b5bd68;
}

.legend-blue {
    background: #bdcddb;
    border-left: 2em solid #81a2be;
}

/*
 * Display main heading link in same colour as non-links
 */

.main-heading-link {
    color: #484848;
}

.main-heading-link:hover {
    color: #00539f;
}

/*
 * Display block objects as inline-block objects
 */

.ib {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/*
 * Don't indent and don't display bullets or numbers for a list of links
 * for {authors,articles,categories,tags}
 */

.link-list {
    list-style-type: none;
    padding: 0;
}

/*
 * Info for a linked list of {authors,articles,categories,tags}
 */

.link-list-info {
    color: #999;
    min-width: 8em;
    margin-right: 1em;
    text-align: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
