@import url("pygment.css");

body {
  background: #fff;
  color: #333;
  font: 16px "Open Sans", sans-serif;
  line-height: 1.5em;
  margin: 60px 16px;
}

#wrap {
  margin: 0 auto;
  max-width: 40em;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: 1.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

strong {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

tt, pre, code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-family: "Inconsolata", monospace;
  line-height: 1.2em;
}

pre {
  overflow: auto;
  padding: 10px;
}

code {
  padding: 1px;
}

header {
  padding-bottom: 20px;
}

header a {
  border-bottom: none;
}

img {
  border: none;
}

blockquote {
  border-left: 5px solid #ddd;
  font-style: italic;
  margin: 0;
  padding: 0 12px;
}

p {
  line-height: 1.5em;
  margin: 1.5em auto;
  text-indent: 0;
}

a {
  color: #36B;
}

a:hover {
  color: #07B;
  text-decoration: none;
}

ul, ol {
  padding: .5em 0 1em 3.2em;
}

ul li,
ol li {
  line-height: 1.5em;
  padding: 6px 0 0 0;
}

table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
  margin: 10px;
}

table tr {
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color:#f8f8f8;
}

#masthead {
  border-bottom: 10px solid #eee;
}

.center {
  text-align: center;
}

#logo {
  font-size: 2em;
}

.heading-link {
  color: #333;
  text-decoration: none;
}

.heading-link:hover {
  color: #07B;
  border-bottom: 5px solid #07B;
}

.inline-block {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: .9em;
  letter-spacing: 4px;
}

.active {
  border-bottom: 5px solid #333;
}

.no-marker {
  list-style-type: none;
}

.entry {
  border-bottom: 2px dotted #ccc;
}

.first-entry {
  border-top: 0;
  margin-top: 0;
}

.info {
  border: 0;
  font-size: .8em;
  margin: 0;
  padding: 0;
}

.item-info {
  color: #999;
  float: left;
  padding-right: 1em;
  text-align: right;
}

.archive-term {
  width: 8em;
}

.entry-count {
  width: 6em;
}

.invisible {
  visibility: hidden;
}

#content-footer {
  margin: 60px 0;
}
