/* 
 * "Trac" color style, modified from http://bitbucket.org
 */

.c  { color: #998; } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.cm { color: #998; } /* Comment.Multiline */
.c1 { color: #998; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { color: #000; background-color: #fdd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #a00 } /* Generic.Error */
.gh { color: #999 } /* Generic.Heading */
.gi { color: #000; background-color: #dfd } /* Generic.Inserted */
.go { color: #888 } /* Generic.Output */
.gp { color: #555 } /* Generic.Prompt */
.gu { color: #aaa } /* Generic.Subheading */
.gt { color: #a00 } /* Generic.Traceback */
.k  { color: #004080 }
.kc { color: #004080 }
.kd { color: #004080 }
.kp { color: #004080 }
.kr { color: #004080 }
.kt { color: #458 } /* Keyword.Type */
.m  { color: #099 } /* Literal.Number */
.s  { color: #008000 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #458 } /* Name.Builtin */
.nc { color: #458 } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #900 } /* Name.Exception */
.nf { color: #900 } /* Name.Function */
.nn { color: #555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.w  { color: #bbb } /* Text.Whitespace */
.mf { color: #099 } /* Literal.Number.Float */
.mh { color: #099 } /* Literal.Number.Hex */
.mi { color: #099 } /* Literal.Number.Integer */
.mo { color: #099 } /* Literal.Number.Oct */
.sb { color: #008000 } /* Literal.String.Backtick */
.sc { color: #008000 } /* Literal.String.Char */
.sd { color: #008000 } /* Literal.String.Doc */
.s2 { color: #008000 } /* Literal.String.Double */
.se { color: #008000 } /* Literal.String.Escape */
.sh { color: #008000 } /* Literal.String.Heredoc */
.si { color: #008000 } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #808000 } /* Literal.String.Regex */
.s1 { color: #008000 } /* Literal.String.Single */
.ss { color: #008000 } /* Literal.String.Symbol */
.bp { color: #458 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #099 } /* Literal.Number.Integer.Long */
