{% extends "base.html" %}
{% set active_menu = 'archives' %}
{% block title %}{{ SITENAME }} - Archives{% endblock title %}
{% block content %}
            <h1 class="content-title">Archives</h1>
            <ul class="link-list">
            {% for article in dates %}
                <li>
                    <p class="ib link-list-info">{{ article.locale_date }}</p>
                    <p class="ib"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
                </li>
            {% endfor %}
            </ul><!-- /.link-list -->
{% endblock %}
