{% extends "base.html" %}
{% set active_menu = 'article' %}
{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock title %}
{% block head %}
    <meta name="author" content="{{ article.author }}">
    <meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block main_heading %}{{ article.title }}{% endblock %}
{% block content %}
    <article class="full-article">
        <header class="article-header">
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(article) }}
        </header><!-- /.article-header -->
        <section class="article-content">
            <p class="article-date"><abbr title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></p>
            {{ article.content }}
        </section><!-- /.article-content -->
        {% include 'article-footer.html' %}
        {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
        <section class="comments">
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ DISQUS_SITENAME }}'
                var disqus_identifier = "{{ article.url }}";
                var disqus_url = "{{ SITEURL }}/{{ article.url }}";
                (function() {
                     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                 })();
            </script>
            <noscript>
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
        </section><!-- /.comments -->
        {% endif %}
    </article><!-- /.full-article -->
{% endblock %}
