{% extends "base.html" %}
{% set active_menu = 'authors' %}
{% block title %}{{ SITENAME }} - Authors{% endblock %}
{% block main_heading %}Authors{% endblock %}
{% block content %}
            <ul class="link-list">
            {% for author, articles in authors|sort %}
                <li>
                    <p class="ib link-list-info">{{ articles|count }} article{% if articles|count != 1 %}s{% endif %}</p>
                    <p class="ib"><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></p>
                </li>
            {% endfor %}
            </ul><!-- /.link-list -->
{% endblock %}
