<!DOCTYPE html>
<html class="no-js" lang="{{ DEFAULT_LANG }}">
    <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% block head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Lato:400,700|Inconsolata:400" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    {% if FEED_ALL_ATOM %}
    <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Full Atom Feed" type="application/atom+xml">
    {% endif %}
    <script src="/js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="masthead">
        <div class="wrap">
            <nav>
                <ul class="menu">
                    <li class="ib"><a class="menu-link site-title{%if not active_menu and not page %} active{% endif %}" href="{{ SITEURL }}/">{{ SITENAME }}</a></li>
                    {% if ARCHIVES_URL %}
                    <li class="ib"><a class="menu-link{%if active_menu == 'archives' %} active{% endif %}" href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>
                    {% endif %}
                    {% if CATEGORIES_URL %}
                    <li class="ib"><a class="menu-link{%if active_menu == 'categories' %} active{% endif %}" href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a></li>
                    {% endif %}
                    {% if TAGS_URL %}
                    <li class="ib"><a class="menu-link{%if active_menu == 'tags' %} active{% endif %}" href="{{ SITEURL }}/{{ TAGS_URL }}">Tags</a></li>
                    {% endif %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                    <li class="ib"><a class="menu-link{% if p == page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% for title, link in MENUITEMS %}
                    <li class="ib"><a class="menu-link" href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul><!-- /.menu -->
            </nav>
        </div><!-- /.wrap -->
    </header><!-- /.masthead -->

    <section class="content">
        <div class="wrap">
        {% block content %}
        {% endblock %}
        </div><!-- /.wrap -->
    </section><!-- /.content -->

    <footer class="base-footer">
        <div class="wrap">
            <p class="info">&copy; wongdev.com 2013-2014. Powered by <a href="http://getpelican.com/">Pelican</a>.</p>
        </div><!-- /.wrap -->
    </footer><!-- /.base-footer -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    {% include 'analytics.html' %}
</body>
</html>
