{% extends "base.html" %}
{% set active_menu = 'categories' %}
{% block title %}{{ SITENAME }} - Categories{% endblock title %}
{% block content %}
            <h1 class="content-title">Categories</h1>
            <ul class="link-list">
            {% for category, articles in categories|sort %}
                <li>
                    <p class="ib link-list-info">{{ articles|count }} article{% if articles|count != 1 %}s{% endif %}</p>
                    <p class="ib"><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></p>
                </li>
            {% endfor %}
            </ul><!-- /.link-list -->
{% endblock %}
