{% extends "base.html" %}
{% block content %}
      <h1>{% block content_title %}All articles{% endblock %}</h1>

      <ol class="no-marker">
        {% for article in articles_page.object_list %}
        <li>
          <article class="entry">
            <header>
              <h2{% if loop.first %} class="first-entry"{% endif %}><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            </header>
            {% include 'article-footer.html' %}
            {{ article.summary }}
          </article><!-- /.entry -->
        </li>

        {% endfor %}
      </ol>
      {% include 'pagination.html' %}
{% endblock content %}
