{% extends "base.html" %}
{% block main_heading %}All articles{% endblock %}
{% block content %}
            <ol class="article-list"{% if DEFAULT_PAGINATION %} start="{{ ((articles_page.number - 1) * DEFAULT_PAGINATION) + 1}}"{% endif %}>
                {% for article in articles_page.object_list %}
                <li class="count">
                    <article class="entry">
                        <header>
                            <h2{% if loop.first %} class="top-entry"{% endif %}><a rel="bookmark" href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        </header>
                        {{ article.summary }}
                        {% include 'article-footer.html' %}
                    </article><!-- /.entry -->
                </li>

                {% endfor %}
            </ol><!-- /.article-list -->
{% include 'pagination.html' %}
{% endblock content %}
