{% if DEFAULT_PAGINATION %}
            <nav class="paginator">
                <p class="ib">
                    {% if articles_page.has_previous() %}
                    <a class="prev-next btn-on" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&lt; Prev</a>
                    {% else %}
                    <span class="prev-next">&lt; Prev</span>
                    {% endif %}
                </p>
                <p class="ib">
                    {% if articles_page.has_next() %}
                    <a class="prev-next btn-on" href="{{ SITEURL }}/{{ articles_next_page.url }}">Next &gt;</a>
                    {% else %}
                    <span class="prev-next">Next &gt;</span>
                    {% endif %}
                </p>
            </nav><!-- /.paginator -->
{% endif %}
