{% extends "base.html" %}
{% set active_menu = 'tags' %}
{% block title %}{{ SITENAME }} - Tags{% endblock %}
{% block content %}
            <h1 class="content-title">Tags</h1>
            <ul class="link-list">
            {% for tag, articles in tags|sort %}
                <li>
                    <p class="ib link-list-info">{{ articles|count }} article{% if articles|count != 1 %}s{% endif %}</p>
                    <p class="ib"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></p>
                </li>
            {% endfor %}
            </ul><!-- /.link-list -->
{% endblock %}
